/* Home Style */
.card-container {
    margin: 25px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home button {
    max-width: 100px;
    margin: 0px 0px 40px 0px;
    background-color: #b0f3d0;
    border-color: #549671;
    border-radius: 8px;
}

/* Favorites Style */
.favorites h1 {
    margin-left: 25px;
    font-family: "Poppins", 'Segoe UI';
    color: rgb(230, 167, 90);
}
