* {
    color: rgb(70, 70, 70);
}

/* Home Style */
.card-container {
    margin: 25px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home button {
    max-width: 100px;
    margin: 0px 0px 40px 0px;
    background-color: #b0f3d0;
    border-color: #549671;
    border-radius: 8px;
}

/* Favorites Style */
.favorites h1 {
    margin-left: 25px;
    font-family: "Poppins", 'Segoe UI';
    color: rgb(230, 167, 90);
}

/* Profile Style */
.profile {
    font-family: "Poppins", 'Segoe UI';
    margin: 0px 250px;
}

.profile h1 {
    color: rgb(230, 167, 90);
}

.profile-header {
    display: flex;
    flex-direction: column;
}

.pic-caption img {
    border-radius: 200px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid #84cca4;
}

.post-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-header button {
    max-height: 30px;
}

.form-container input {
    margin-right: 8px;
}

.form-container button {
    margin: 3px;
}