* {
    color: rgb(70, 70, 70);
}

/* Home Style */
.card-container {
    margin: 25px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home button {
    max-width: 100px;
    margin: 0px 0px 40px 0px;
    background-color: #b0f3d0;
    border-color: #549671;
    border-radius: 8px;
}

/* Favorites Style */
.favorites h1 {
    margin-left: 25px;
    font-family: "Poppins", 'Segoe UI';
    color: rgb(230, 167, 90);
}

/* Profile Style */
.profile {
    font-family: "Poppins", 'Segoe UI';
    margin-top: 25px;
}

.profile h1 {
    color: rgb(230, 167, 90);
    margin: 0px 500px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    margin: 10px 500px;
}

.pic-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-1 {
    flex-grow: 1;
}

.column-1 h3 {
    margin: 15px 0px 0px 0px;
}

.column-1 p {
    margin: 0px;
}

.column-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 55px;
    font-size: larger;
    margin-bottom: 85px;
    font-weight: 600;
}

.pic-caption img {
    border-radius: 200px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid #84cca4;
}

.post-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-header button {
    max-height: 30px;
}

.form-popup {
    margin: 0px 500px;
}

.form-container input {
    margin-right: 8px;
}

.form-container button {
    margin: 3px;
}