.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.header img {
    max-height: 70px;
    max-width: 70px; 
}

.hide-bg {
    mix-blend-mode: multiply;
}

.header h1 {
    font-family: "Pacifico";
}